z2sim
**__pycache__
**ipynb_checkpoints/
**src/EuclideanLatticeMonteCarlo/crosscorrelators/
**src/EuclideanLatticeMonteCarlo/PlaquetteLoc/

**src/EuclideanLatticeMonteCarlo/Visuals/

**src/EuclideanLatticeMonteCarlo/correlators/
*.csv
*.pickle
src/EuclideanLatticeMonteCarlo/.vs/Z2MonteCarlo/v16/Browse.VC.db
src/EuclideanLatticeMonteCarlo/.vs/Z2MonteCarlo/v16/Browse.VC.db-shm
src/EuclideanLatticeMonteCarlo/.vs/Z2MonteCarlo/v16/Browse.VC.db-wal
src/EuclideanLatticeMonteCarlo/.vs/Z2MonteCarlo/v16/Browse.VC.opendb
src/EuclideanLatticeMonteCarlo/.vs/Z2MonteCarlo/v16/ipch/AutoPCH/1619cf9e40495e8a/MAIN.ipch
src/EuclideanLatticeMonteCarlo/.vs/Z2MonteCarlo/v16/ipch/AutoPCH/9d2723c71728a0a1/LATTICE.ipch
src/EuclideanLatticeMonteCarlo/.vs/Z2MonteCarlo/v16/Browse.VC.db
src/EuclideanLatticeMonteCarlo/analysiscode/hankquestioneffectivemassplot.pdf
*.pdf
*.ipch
*.zip
